.container {
    width: 500px;
    margin-top: 50px;
}


.panel {
    display: flex;
}

.list-group {
    margin-top: 1rem;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.remove {
    color: darkred;
    cursor: pointer;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.form-check-input {
    margin-right: 0.5rem;
}

.done {
    text-decoration: line-through;
}
.hidden{
    visibility: hidden;
}

.cancel{
    margin: auto 1rem auto -1rem;
    cursor: pointer;
}
.editText {
    background-color: #008b0e;
    color: #ffff;
    border: #008b0e;
    }
.btnUpdate{
    background-color: #008b0e;
    color: #ffff;
    border: #008b0e;
}
.btnUpdate:hover {
    background-color: rgba(0, 139, 14, 0.76);
    border: #008b0e;

}
.btnUpdate:focus {
    background-color: rgba(0, 139, 14, 0.76);

}

.js-item-value{
    cursor: pointer;
}